{
  "irc": {
    "nick": "bot-nick",
    "channels": ["#channel", "#another"],
    "server": "irc.efnet.org",
    "port": 6669,
    "ssl": false
    "reconnect_delay": 30,
    "grace_period": 240
  },

  "behaviour": {
    "command_prefix": "@"
  }

  "plugins": {
    "blacklist": ["c", "lastfm"]
  }
}

